br
.container
  div.row
    div.span12
      span#number
  div.row
    div.span6
      h2.text-center.player Player 01
      span#scoreone.text-center
    div.span6
      h2.text-center.player Player 10
      span#scoretwo.text-center
  br
  pre
    ul#socket
